/*
Userpage
Name: Maxim Schlegel
Matrikel: 257202
Datum: 24.03.18
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

@charset "UTF-8";

body {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 1em 0em 1em 0em;
}

.aufgabe {
	color: #000000;
	font-size: 1.1em;
	text-decoration: none;
	transition: 500ms;
	-webkit-transition: 500ms;
	cursor: pointer;
}

.aufgabe:hover {
	font-size: 1.2em;
	transition: 500ms;
	-webkit-transition: 500ms;
	color: #c2a263;
}

a {
	font-size: 1em;
	text-decoration: none;
	position: relative;
	transition: 500ms;
	-webkit-transition: 500ms;
	color: #008B8B;
}

a:hover {
	font-size: 1.1em;
	transition: 500ms;
	-webkit-transition: 500ms;
	color: #87CeFa;
}

a:visited {
	color: none;
}

